.App {
  background-color: aquamarine;
  cursor: url(assets/Cursor_Normal.png), default;

  width: 800px;
  height: 600px;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./fonts/century/centurygothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/century/CenturyGothic.woff2') format('woff2'),
      url('./fonts/century/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century GothicBold';
  src: url('./fonts/century/CenturyGothic.woff2') format('woff2'),
      url('./fonts/century/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advmap-bottom {
  position: absolute;
  top: 556px;
  bottom: 0;
  left: 0;
  width: 607px;
}
.advmap-bottom-l {
  position: absolute;
  top: 0;
  left: 0;

  width: 53px;
  height: 44px;
  background-image: url(assets/advmap_bottom_l.bmp);
}
.advmap-bottom-m {
  position: absolute;
  top: 0;
  left: 53px;
  right: 51px;

  width: auto;
  height: 44px;
  background-image: url(assets/advmap_bottom.bmp);
}
.advmap-bottom-r {
  position: absolute;
  top: 0;
  right: 0;

  width: 51px;
  height: 44px;
  background-image: url(assets/advmap_bottom_r.bmp);
}
.advmap-statusbar {
  position: absolute;
  top: 0;
  left: 7px;
  right: 6px;

  width: auto;
  height: 18px;
  background-image: url(assets/adrollvr_b.bmp);
}
.advmap-aresmap {
  position: absolute;
  left: 4px;
  right: 2px;
  bottom: 3px;

  width: auto;
  height: 22px;
  background-image: url(assets/aresbar_l.bmp);
}
.advmap-date-border {
  position: absolute;
  right: 0;
  bottom: 3px;

  width: 3px;
  height: 1px;
}

.panel-right-date {
  position: absolute;
  left: 605px;
  right: 0;
  bottom: 0;

  width: 195px;
  height: 25px;
  background-image: url(assets/date_frame_filled.png);
}

:root {
  --border-size: 16px;
}

.border {
  position: absolute;
  width: var(--border-size);
  height: var(--border-size);

  background-color: rgba(255, 255, 255, 0);
}

.b-l {
  cursor: url(assets/Cursor_L.png) 0 0, pointer;

  left: 0;
  top: var(--border-size);
  bottom: var(--border-size);

  height: auto;
  
}
.b-r {
  cursor: url(assets/Cursor_R.png) 22 5, pointer;

  right: 0;
  top: var(--border-size);
  bottom: var(--border-size);

  height: auto;
}
.b-u {
  cursor: url(assets/Cursor_U.png) 5 0, pointer;

  left: var(--border-size);
  right: var(--border-size);
  top: 0;

  width: auto;
}
.b-b {
  cursor: url(assets/Cursor_B.png) 5 22, pointer;

  left: var(--border-size);
  right: var(--border-size);
  bottom: 0;

  width: auto;
}
.b-ul {
  cursor: url(assets/Cursor_UL.png) 0 0, pointer;

  left: 0;
  top: 0;
}
.b-ur {
  cursor: url(assets/Cursor_UR.png) 18 0, pointer;

  right: 0;
  top: 0;
}
.b-bl {
  cursor: url(assets/Cursor_BL.png) 0 18, pointer;

  left: 0;
  bottom: 0;
}
.b-br {
  cursor: url(assets/Cursor_BR.png) 18 18, pointer;

  right: 0;
  bottom: 0;
}