.event {
    position: absolute;
    top: 399px;
    left: 614px;

    width: 175px;
    height: 168px;
}

.event-hero {
    background-image: url(assets/eventHero.png);
}
.event-town {
    background-image: url(assets/eventTown.png);
}