.panel-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 800px;
    height: 600px;
}

.hero-panel {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 671px;
    height: 584px;
    transform: translate(-50%, -50%);

    background-image: url('assets/HeroPanel.png');
}

.hero-avatar {
    position: absolute;
    top: 17px;
    left: 18px;

    width: 282px;
    height: 66px;
    
    cursor: url(assets/Big_Cursor_Combat_Info.png) 16 26, default;
}

.hero-description {
    position: absolute;
    top: 165px;
    left: 176px;

    width: 320px;
    height: 256px;

    background-image: url(assets/description.png);
}